:root {
    --bs-body-font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.alert {
    font-size: 1.4rem;
}

.btn {
    font-size: 1.6rem;
    border-radius: 0.6rem;
}

a[disabled] {
    pointer-events: none;
    color: gray;
}

.text-truncate--small {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-truncate--medium {
    display: inline-block;
    width: 178px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-radius {
    border-radius: 8px;
    overflow: hidden;
}

.card-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.card-title--small {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.card-title--medium {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.text-small {
    font-size: 1.4rem;
}

.form-control,
.form-control-label,
.form-control-file {
    font-size: 1.4rem;
    line-height: 2rem;
}

.form-control,
.form-control-file {
    height: calc(2.8rem + 2px);
}

.form-control-label {
    margin-bottom: 0.25rem;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.8rem + 2px);
    padding-left: 0.35rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.text--small {
    font-size: 1.3rem;
}

.text--normal {
    font-size: 1.4rem;
}

.text--bold {
    font-weight: 600;
}

.table-radius {
    border-radius: 5px;
    overflow: hidden;
}

.icon-btn {
    border-radius: 6px;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    line-height: 2rem;
}

.text-btn--medium {
    font-size: 1.6rem;
    line-height: 2rem;
}
